/* --- ESTILOS BASE (Desktop / Pantalla Grande) --- */
.intro {
  background-color: black;
  background-position: 50% 50%;
  background-size: cover;
  height: 100vh;
  position: relative;
  width: 100%;
  overflow: hidden; /* Importante para que las blobs no generen scroll horizontal */
}
.text{
  width: 55%;
  left: 5vw;
  bottom: 15vh;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: flex-start;
}
.hola-soy-maximiliano {
  color: #ffffff;
  font-family: "Inter-SemiBold", Helvetica, sans-serif;
  font-size: 8vh;
  font-weight: 600;
  letter-spacing: -4px;
  line-height: 1.1;
  z-index: 10;
  margin: 0;
}

.text-hola {
  color: #ffffff;
  letter-spacing: -4px;
}

.span {
  color: #aa00cc;
  letter-spacing: -4px;
}

/* Subtítulo */
.aqui-muestro {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica, sans-serif;
  font-size: 2.5vh;
  font-weight: 400;
  left: 131px;
  line-height: normal;
  max-width: 45vw;
  z-index: 10;
}

/* Menú de Navegación */
.navbar {
  align-items: center;
  display: inline-flex;
  gap: 90px;
  position-area: bottom;
  position: absolute;
  top: 40px;
  z-index: 20;
}

.text-navbar {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica, sans-serif;
  font-size: 2.5vh;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  cursor: pointer;
}

/* --- FONDO Y BLOBS (Grupo de efectos) --- */
.foto{
  position: absolute;
  right: 0;
  width: clamp(200px, 45%, 1200px);
  display: flex;
}
.group {
  right: 0;
  width: 100%;
  pointer-events: none; /* Para que no tape los clicks */
  z-index: 1;
}

.photos-instance {
    height: auto;
    width: 65%;
    right: 5%;
    top: 20%;
    z-index: 5;
    position: absolute;
}
