.frame {
  background-color: #f1f1f1;
  height: 1080px;
  position: relative;
  width: 1920px;
}

.frame .element {
  aspect-ratio: 0.99;
  height: 803px;
  left: 210px;
  position: absolute;
  top: 204px;
  width: 796px;
}

.frame .text-wrapper {
  color: #aa00cc;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 88px;
  font-weight: 600;
  left: 1090px;
  letter-spacing: -5.28px;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 314px;
  width: 744px;
}

.frame .me-llamo-maximiliano {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 1090px;
  letter-spacing: -1.92px;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 445px;
  width: 744px;
}

.frame .span {
  letter-spacing: -0.61px;
}

.frame .text-wrapper-2 {
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: -0.61px;
}
