.frame {
  background-color: #f2f2f2;
  height: 100vh;
  position: relative;
  width: 100vw;
}

.frame .element {
  aspect-ratio: 0.99;
  width: clamp(200px, 35%, 1000px);
  left: 10%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.text-sobre-mi{
    position: absolute;
    right: 10%;
    width: 36%;
    top: 10%;
    display: flex;
    flex-direction: column;
    transform: translateY(50%);
}
.frame .text-wrapper {
  color: #aa00cc;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 6vh;
  font-weight: 600;
  letter-spacing: -5.28px;
  line-height: normal;
  text-align: right;
  top: 15%;
}

.frame .me-llamo-maximiliano {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 2.5vh;
  font-weight: 400;
  letter-spacing: -1.92px;
  line-height: normal;
  text-align: right;
}

.frame .span {
    color: #000000;
  letter-spacing: -0.61px;
}

.frame .text-wrapper-2 {
    color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: -0.61px;
}
