.slide {
  background-color: #080449;
  min-height: 100vh;
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

.slide .rectangle {
  background-color: #060045;
  height: 39.38rem;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.slide .div {
  background-color: #dddddd;
  min-height: 214.9rem;
  left: 0;
  position: absolute;
  top: 39.38rem;
  width: 100%;
}

.slide .text-wrapper {
  color: #1000a9;
  font-family: "Inter", Helvetica;
  font-size: 4.58rem;
  font-weight: 600;
  left: 12.55rem;
  letter-spacing: -0.05em; 
  line-height: normal;
  position: absolute;
  top: 52.76rem;
  width: 25.1rem;
}

.slide .me-llamo-borja {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 1.67rem;
  font-weight: 400;
  left: 12.55rem;
  letter-spacing: -0.02em;
  line-height: normal;
  position: absolute;
  top: 59.58rem;
  width: 25.1rem;
}

.slide .clubes-teded {
  color: transparent;
  font-family: "Inter", Helvetica;
  font-size: 4.58rem;
  font-weight: 400;
  left: 11.35rem;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 160.36rem;
}

.slide .span {
  color: #1000a9;
  font-weight: 600;
}

.slide .text-wrapper-2 {
  color: #ffffff;
  font-weight: 600;
}

.slide .text-wrapper-3 {
  color: #ff0000;
  font-weight: 900;
}

.slide .text-wrapper-4 {
  color: #ffffff;
  font-weight: 700;
}

.slide .a-lo-largo-del-a-o {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 1.67rem;
  font-weight: 400;
  left: 11.35rem;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 167.34rem;
  width: 31.41rem;
}

.slide .group {
  height: 48.85rem;
  left: 56.61rem;
  position: absolute;
  top: 37.71rem;
  width: 42.71rem;
}

.slide .eclipse {
  background: linear-gradient(180deg, rgba(0, 194, 255, 0) 0%, rgba(255, 41, 195, 1) 100%);
  border-radius: 21.35rem;
  filter: blur(5.21rem);
  height: 42.71rem;
  left: 0;
  position: absolute;
  top: 0;
  width: 42.71rem;
}

.slide .rectangle-2 {
  background: linear-gradient(180deg, rgba(24, 75, 255, 0) 0%, rgba(23, 74, 255, 1) 100%);
  filter: blur(5.21rem);
  height: 29.11rem;
  left: 11.09rem;
  position: absolute;
  top: 19.74rem;
  width: 20.52rem;
}

.slide .photos {
  aspect-ratio: 1;
  height: 30rem;
  left: 56.61rem;
  position: absolute;
  top: 50.26rem;
  width: 30rem;
}

.slide .rectangle-3 {
  background-color: #2276a5;
  height: 35.47rem;
  left: 0;
  position: absolute;
  top: 218.8rem;
  width: 50rem;
}

.slide .juego-interactivo-de {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 1.25rem;
  font-weight: 400;
  left: 5.73rem;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 236.25rem;
  width: 38.59rem;
}

.slide .logos {
  height: 6.04rem;
  left: 13.85rem;
  position: absolute;
  top: 227.97rem;
  width: 22.4rem;
}

.slide .rectangle-4 {
  background-color: #ff7a00;
  height: 35.47rem;
  left: 50rem;
  position: absolute;
  top: 218.8rem;
  width: 50rem;
}

.slide .line {
  height: 37.34rem;
  left: 0;
  position: absolute;
  top: 10.88rem;
  width: 100%;
}

.slide .img {
  height: 37.34rem;
  left: 0;
  position: absolute;
  top: 172.97rem;
  width: 100%;
}

.slide .hola-soy-borja-dise {
  color: transparent;
  font-family: "Inter", Helvetica;
  font-size: 4.58rem;
  font-weight: 600;
  left: 5.26rem;
  letter-spacing: -0.05em;
  line-height: normal;
  position: absolute;
  top: 16.98rem;
}

.slide .text-wrapper-5 {
  color: #ffffff;
}

.slide .text-wrapper-6 {
  color: #00faff;
}

.slide .p {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 1.88rem;
  font-weight: 400;
  left: 5.26rem;
  letter-spacing: -0.02em;
  line-height: normal;
  position: absolute;
  top: 29.58rem;
  width: 39.69rem;
}

.slide .signai-logos-instance {
  width: 20.83rem !important;
  height: auto !important; /* Mantenemos 'auto' por 'aspect-ratio' */
  left: 64.63rem !important;
  position: absolute !important;
  top: 227.08rem !important;
}

.slide .IMG {
  aspect-ratio: 1.01;
  height: 31.88rem;
  left: 56.67rem;
  object-fit: cover;
  position: absolute;
  top: 157.08rem;
  width: 32.03rem;
}

.slide .rectangle-5 {
  background-color: #060045;
  height: 11.82rem;
  left: 0;
  position: absolute;
  top: 206.98rem;
  width: 100%;
}

.slide .frame {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2.24rem;
  left: 40.47rem;
  position: absolute;
  top: 107.03rem;
  width: 49.27rem;
}

.slide .discurso-en-p-blico {
  align-self: stretch;
  color: transparent;
  font-family: "Inter", Helvetica;
  font-size: 2.08rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.slide .text-wrapper-7 {
  color: #1000a9;
  font-weight: 700;
}

.slide .text-wrapper-8 {
  color: #000000;
}

.slide .div-2 {
  align-self: stretch;
  color: transparent;
  font-family: "Inter", Helvetica;
  font-size: 2.08rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.slide .mask-group {
  height: 24.17rem;
  left: 10.31rem;
  position: absolute;
  top: 105.94rem;
  width: 23.85rem;
}

.slide .text-wrapper-9 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 2.6rem;
  font-weight: 700;
  left: 13.49rem;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 120.05rem;
  width: 15.1rem;
}

.slide .group-2 {
  height: 2.86rem;
  left: 0;
  position: absolute;
  top: 215.94rem;
  width: 100%;
}

.slide .text-wrapper-10 {
  color: #79fcff;
  font-family: "Inter", Helvetica;
  font-size: 3.44rem;
  font-weight: 600;
  left: 3.8rem;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 210.83rem;
}

.slide .vector {
  height: 0;
  left: 74.79%;
  position: absolute;
  top: 47.46%;
  width: 3.28%;
}

.slide .vector-2 {
  height: 0;
  left: 80.41%;
  position: absolute;
  top: 47.46%;
  width: 3.28%;
}

.slide .vector-3 {
  height: 0;
  left: 86.03%;
  position: absolute;
  top: 47.46%;
  width: 3.28%;
}

.slide .traductor-de-lengua {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 1.25rem;
  font-weight: 400;
  left: 55.73rem;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 234.38rem;
  width: 38.59rem;
}

.slide .signai-logos-wrapper {
  align-items: center;
  display: inline-flex;
  gap: 54.63rem;
  left: 5.83rem;
  position: absolute;
  top: 260.83rem;
}

.slide .signai-logos-2 {
  aspect-ratio: 4.6;
  height: 2.24rem;
  position: relative;
  width: 10.31rem;
}

.slide .line-2 {
  height: 0.05rem;
  left: 44.32rem;
  object-fit: cover;
  position: absolute;
  top: 268.65rem;
  width: 11.46rem;
}

.slide .text-wrapper-11 {
  color: #909090;
  font-family: "Inter", Helvetica;
  font-size: 0.83rem;
  font-weight: 400;
  left: 40.99rem;
  letter-spacing: -0.01em;
  line-height: normal;
  position: absolute;
  top: 270.16rem;
  white-space: nowrap;
}

.slide .frame-2 {
  height: 2.4rem;
  left: 45.47rem;
  position: absolute;
  top: 263.75rem;
  width: 9.17rem;
}

.slide .text-wrapper-12 {
  color: #bababa;
  font-family: "Inter", Helvetica;
  font-size: 3.28rem;
  font-weight: 700;
  left: 42.55rem;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 258.65rem;
}

